<ion-content > 
      <div class="gradbackgound" padding>
            <ion-slides pager="true" [options]="slideOpts" margin-bottom>
              <ion-slide>
                <img src="../../assets/imgs/slide1.jpg"/>
              </ion-slide>
              <ion-slide>
                  <img src="../../assets/imgs/thumb_70155.jpg"/>
              </ion-slide>
              <ion-slide>
                  <img src="../../assets/imgs/slide3.jpg"/>
              </ion-slide>
            </ion-slides>
            <ion-grid>
              <ion-row>
                <ion-col>
                    <ion-button  shape="round"  color="tertiary" expand="full" routerLink="/register-mobile" routerDirection="forward">Continue with phone number</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                    <ion-button shape="round" fill="outline" color="tertiary" expand="full" (click)="loginToFacebook()">Continue with Facebook</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
    </div>
  </ion-content>
  