<ion-header >
 <ion-toolbar>
    <ion-back-button icon="undo" text=""></ion-back-button>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="gradbackgound">
    <ion-grid>
      <ion-row>
        <ion-col align-self-center>
          <div class="text-align-center">
          <ion-text >Please enter your</ion-text>
          <ion-text><h2>Mobile Number</h2></ion-text>
          </div>
        </ion-col>
      </ion-row>
      
      <ion-row>
          <ion-col>
            <ion-input type="number" required shapre="round"></ion-input>
          </ion-col>
        </ion-row>
    </ion-grid>
  </div>
</ion-content>
