<ion-header no-border >
  <ion-toolbar >
     <ion-back-button icon="undo" text="Back" color="primary"></ion-back-button>
   </ion-toolbar>
 </ion-header>

<ion-content fullscreen>
  <div class="spacer"></div>
  <div class="main">
    <div class="photo-wrapper">
      <ion-card class="pic-card" >
          <ion-fab vertical="center" color="tertiary" horizontal="center" *ngIf="!base64Image">
            <ion-fab-button color="tertiary" no-shadow><ion-icon  name="camera" (click) = "imageSelect()"></ion-icon></ion-fab-button>
          </ion-fab>
          <img class="profile" [src]="base64Image" *ngIf="base64Image" vertical="center" horizontal="center" (click)="imageSelect()"/>
      </ion-card>
      <form>
      <ion-grid padding>
        <ion-row>
          <ion-col>
            <h4><ion-text>Take a photo or choose from library</ion-text></h4>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
              <ion-item lines="none">
                <ion-icon color="secondary" size="large" name="contact" slot="start"></ion-icon>
                <ion-input type="text" [(ngModel)]="name" name="name" required placeholder="Name" ></ion-input>
              </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
              <ion-item lines="none" >
                <ion-icon color="secondary" size="large" name="calendar" slot="start" ></ion-icon>
                <ion-datetime  color="secondary" background="primary" name="bday" display-format="MMM DD, YYYY" doneText="Done" placeholder="Birthday"></ion-datetime>
              </ion-item>
            </ion-col>
        </ion-row>

        
        <ion-row>
            <ion-col padding>
                <ion-radio-group>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="6" style="text-align: left">
                        <ion-label style="text-align: left">Select Your Gender</ion-label>
                      </ion-col>
                      <ion-col>
                        <ion-fab vertical="center" horizontal="center">
                          <ion-fab-button class="gender-select" [color]="(male)"  (click) = "chooseGender('Male')">
                            <ion-icon name="male"></ion-icon>
                          </ion-fab-button>
                        </ion-fab>
                      </ion-col>
                      <ion-col>
                        <ion-label>or</ion-label>
                      </ion-col>
                      <ion-col>
                        <ion-fab vertical="center" horizontal="center" >
                          <ion-fab-button class="gender-select" [color]="(female)" (click) = "chooseGender('Female')">
                            <ion-icon name="female" ></ion-icon>
                          </ion-fab-button>
                        </ion-fab>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-radio-group>
            </ion-col>
        </ion-row>

        
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-icon color="secondary" size="large" name="at" slot="start"></ion-icon>
              <ion-input type="email" [(ngModel)]="email" name = "emial" required placeholder="Email" ></ion-input>
            </ion-item>
          </ion-col>
      </ion-row>

      
      <ion-row>
        <ion-col padding-bottom>
          <ion-button  shape="round"  expand="full" (click) = "saveNewUser()" color="secondary">Continue</ion-button>
        </ion-col>
    </ion-row>

      </ion-grid>
    </form>
    </div>
  </div>
   
</ion-content>
