.item-inner{
    border: none;
}
ion-slide{
    height: 80vh;
}
h2{
    font-size: 35px;
}
.main{
    position: relative;
    text-align: center;
}
.photo-wrapper{
    position: absolute;
    top: -75px;
    margin: auto;
    align-self: center;
    width: 100%
}
.spacer{
    min-height: 150px;
    background: linear-gradient(155.21deg, #F78340 0%, #F24058 100%);
}
.pic-card{
    height: 150px;
    width: 150px;
    margin: auto;
    border-radius: 100%;
    background: #ffffff;
}
ion-toggle{
    --background: #085797;
    --background-checked: #dd2983;
}
.gender-toggle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
img.profile
{
    border-radius: 100%;
    box-shadow: 2px 2px 2px #454545;
}
ion-fab{
    min-height: 20dpi;
    min-width: 20dpi;
}
ion-fab-button{
    background: #ffffff;
}
ion-icon{
    color: #dd2983;
}


ion-item{
    background: rgba(255,255,255,0.6);
    border-radius: 30px;
    text-align: start;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
  }

.gender-select>ion-icon{
    color: inherit !important;
}
// .gender-select.active
// {
//     --background: #dd2983;
// }
// .gender-select.active>ion-icon{
//     color: #ffffff !important;
// }
ion-header {
    --background: transparent;
    --ion-color-base: transparent !important;
  }
  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
  }
  ion-content{
    position: initial;
  }